* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.dumb-start {
  z-index: 1;
  float: right;
  height: 400px;
  margin-top: 5%;
}

.hero {
  margin: auto;
  text-align: left;
  color: #faf19a;
  background-color: #ef5200;
  height: 90vh;
}
.hero h1 {
  font-size: 64px;
  padding: 10px;

  color: transparent !important;

  letter-spacing: 0.1em;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #faf19a;
  filter: drop-shadow(4px 4px 1px #a59f67);
}
.hero h2 {
  padding: 10px;
  font-size: 36px;
}
.hero a {
  color: #ef5200;
  background-color: #faf19a;
  padding: 8px 30px 8px 30px;
  border-radius: 53px;
  margin: 10px;
  width: 315px;
  height: 74px;
}
.sub-hero {
  width: 90%;
  margin: auto;
  padding-top: 9rem;
}
.dumb-star {
  z-index: 1;
  float: right;
  height: 600px;
  margin-top: 5%;
}

a.navbar-link {
  color: #000;
  font-weight: 400;
  font-size: 20px;
  text-decoration: none;
}

.share-image {
  padding-top: 9rem;
}
