* {
  padding:0;
  margin:0;
}

@font-face {
        font-family: 'Neue Metana';
        font-style: normal;
        font-weight: 300 ; 
        font-display: swap;
        src: url('/public/fonts/NeueMetanaNext-SemiBold.otf') format('opentype');
      }

@font-face {
  font-family: 'Neue Metana';
  font-style: normal;
  font-weight: 300 ; 
        font-display: swap;
        src: url('/public/fonts/NeueMetanaNext-SemiBold.otf') format('opentype');
}

body{
  background-color:#F1F1F1;
  color:#EF5200;
  text-decoration:none;
  font-family: "Neue Metana", sans-serif;
}
ul h1 {
  float:left;
  margin-left: 10%;
}
ul {
  list-style-type: none;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

li {
  float: right;
  
}

li a {
  color:black;
  display: block;
  text-align: center;
  padding: 14px 38px;
  text-decoration: none;
}

li a:hover {
  color:orange;
}
.special-button {
  color: white;
  background: #EF5200;
  border-radius: 20px;
  margin-right: 110px;
  padding: 10px 25px 10px 25px;
}
.hero {
  margin:auto;
  text-align:left;
  color:#FAF19A;
  background-color:#EF5200;
  height: 80vh;
}
.hero h1 {
  font-size:3.7rem;
  padding:10px;
}
.hero h2 {
  padding:10px;
}
.hero a {
  color: #EF5200;
    background-color:#FAF19A;
   padding: 8px 30px 8px 30px;
  border-radius: 15px;
  margin:10px;
  
}
.sub-hero {
  width: 90%;
  margin:auto;
  padding-top: 9rem;
}
.dumb-star {
  z-index: 1;
  float:right;
  height: 400px;
  margin-top: 5%;
}
footer {
  display:flex;
  background-color:#EF5200;
  color:white;
  width:100%;
  height: 16vh;
}
footer div {
  width: 80%;
  margin:auto;
}
footer h1 {
  display: inline-block;
}
footer p {
  text-align:right;
  float:right;
}
.private-rooms {
  text-align:center;
  width: 300px;
  margin:auto;
}
.private-rooms h1 {
  font-size: 3rem;
}
.private-rooms p {
  font-size: 1.3rem;
  font-weight: 10;
}
.lock-shit-container {
  margin-top: 2rem;
  margin-bottom:1rem;
}
.lock-shit {
width:70px;
height:70px;

}